<div class="mx-auto max-w-3xl mt-24">
  <h1 class="font-bold text-4xl mb-6">Todos</h1>

  <%= render "form", todo: Todo.new %>


  <ul class="divide-y list-none">
    <%= turbo_frame_tag "todos", class: "min-w-full" do %>
      <%= render @todos %>
    <% end %>
  </ul>
</div>